* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

/* container */
.contaimer {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    z-index: 999;
    background-color: #4b4b4b5b;
    backdrop-filter: blur(10px);
}
.head-left{
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-left img{
    width: 40px;
    height: 40px;margin-right: 20px;
}
.head-left button{
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}
.head-left button:hover{
    opacity: 0.7;
}

.head-right{
    display: flex;;
}
.head-right a{
    text-decoration: none;
    padding-left: 25px;
    color: #fff;
    font-size: 15px;
}

.hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero-vid{
    width: 100%;
    height: 100%;
    position: relative;
}
.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info{
    /* background-color: black; */
    z-index: 1;
    position: absolute;
    top: 80px;
    left: 50px;
}
.hero-info h1{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}
.hero-info p{
    color: #fff;
    max-width: 210px;
}
.hero-info button{
    background-color: #edff66;
    border: 2px solid #edff66;
    padding: 10px 40px;
    margin-top: 1rem;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}
.hero-info button:hover{
    background-color: transparent;
    color: #fff;
    box-shadow: 0 0 15px #edff66;    
}
.gaming-text{
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.next-btn{
    height: 200px;
    width: 200px;
    background-color: #edff66;
    position: absolute;
    left: 45%;
    bottom: 45%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transition: 0.5s;
}

.next-btn:hover{
    width: 200px;
    height: 200px;
    opacity: 1;
    box-shadow: 0 0 15px rgb(225, 225, 225, 0.646);
}